body{
  margin: 0 auto;
  width: 100%;
}

/*Header-nav-Styles*/
header{
  background-color: transparent;
  z-index: 1;
  position: fixed;
  top:0;
  width: 100%;
  padding: 20px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

p.header-logo{
  display: inline;
  padding: 10px 30px;
  margin: 0;
  color: #FFFFFF;
  letter-spacing: 2px;
}

mark{
  background-color: #FFE51F;
}

nav,ul,li{
  padding: 0px 15px;
  margin: 0px;
  float: right;
  display: inline;
}

a.header-nav-menu{
  text-transform: capitalize;;
  text-decoration: none;
  color: #FFFFFF;
}

a.header-nav-menu:hover{
  text-transform: capitalize;;
  text-decoration: none;
  letter-spacing: 2px;
  color: #FFE51F;
}

/*Landing-section-Styles*/
section#landing{
  width: 100vw;
  background-color: #383632;
  height: 100vh;
  position: relative;
}

.landing-background{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}
.landing-description{
  position: relative;
  top: -500px;
  left: 0;
  z-index: 1;
}


h1.landing-title,h2.landing-title{
  z-index: 1;
  margin: 0;
  padding: 20px 0px 20px 50px;
  font-family: 'Gentium Book Basic',serif;
  font-size: 80px;
  color: #FFE51F;
  font-weight: 900;
}

/*Services-main-Style*/
#services{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #383632;
  padding: 20px 0px;
  justify-content: center;
}

article{
  background-color: #ADA9A0;
  height: 80vh;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.article-title{
  font-family: monospace;
  font-weight: bolder;
  font-size: 48px;
  color: #FFFFFF;
}

.article-body{
  font-family:'Pacifico', cursive;
  font-size: 24px;
}

.fa.services{
  color: #FFE51F;
}

#clients{
  position: relative;
  background-color: #000000;
  width: 100%;
}

.clients{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa.clients{
  padding: 45px;
  color: #FFE51F;
}

/*Aside-Styles*/
aside{
  float: right;
  color: #FFE51F;
  font-size: 54px;
  padding: 30px;
  letter-spacing: 5px;
  font-family: monospace;
}
/*Footer-Styles*/
footer{
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  display: inline;
}

.footer-list{
  float: left;
  padding: 10px 50px;
  display: inline;
}

ul .footer-list{
  display: inline-block;
  text-align: center;
}


.fa{
  padding: 8px;
  color: #000000;
}

#copyright{
  font-size: 16px;
}

.footer-links{
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  margin: 0 auto;
}

.footer-links:hover{
  letter-spacing: 2px;
}
