
body{
  margin: 0 auto;
}
header{
  background-color: #000000;
  position:sticky;
  position: -webkit-sticky;
  top:0;
  width: 100%;
  padding: 20px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

p.header-logo{
  display: inline;
  padding: 10px 10px;
  margin: 0;
  color: #FFFFFF;
  letter-spacing: 2px;
}

mark{
  background-color: #FFE51F;
}

nav,ul,li{
  padding: 0px 20px;
  margin: 0px;
  float: right;
  display: inline;
}

a.header-nav-menu{
  text-transform: capitalize;;
  text-decoration: none;
  color: #FFFFFF;
}

a.header-nav-menu:hover{
  text-transform: capitalize;;
  text-decoration: none;
  letter-spacing: 2px;
  color: #FFE51F;
}
